.container {
  display: flex;    /*define the container display as felx */

/*  if elements out of boundary, sohuld it warp around to next row? like float property */
  flex-wrap: wrap;

/* elements order directions, row:left - right, row-reverse: right to left, column: top down, column-reverse: bottom up*/
  flex-direction: row;

/* how the elements align horizontally, (flex-start, center, flex-end, space-between, space-around) */
  justify-content: center;


/* how the elements align vertically, (stretch, flex-start, felx-end, baseline)  */
  align-items:center;

/* similar to alien-items, but for multiline vertical alignment. (stretch, flex-start, flex-end, space-between, space-around, space-between, space-around) */
  align-content:center;

}

h1 {
  font-size:3em;
  border-bottom: 2px solid lightblue;
  border-right:2px solit lightblue;
  width: 400px;
  text-align: center;

/* below is a demo for CSS3 cross brower compatibility */
  -moz-box-shadow: 4px 4px 5px #888888;
  -ms-box-shadow: 4px 4px 5px #888888;
  -webkit-box-shadow: 4px 4px 5px #888888;
  -o-box-shadow: 4px 4px 5px #888888;
  box-shadow: 4px 4px 5px #888888;
}

img {
    width: 400px;
    height: 350px;
    transition:all 1s;
    padding: 5px;
}

img:hover {
  transform: scale(1.1)
}
